body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #121212;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.page-container {
	display: flex;
	flex-direction: row;
}

/* Bar */

.bar {
	width: 100%;
	margin: 0;
	height: 25px;
	background-color: #363636;
	color: white;

	display: flex;
	justify-content: center;
}

.bar .barinfo {
	display: flex;
	align-items: center;
	gap: 25px;
	margin-right: 200px;
}

.bar .links {
	display: flex;
	gap: 25px;
	align-items: center;
}

.bar .links a {
	color: white;
	text-decoration: none;
	text-shadow:
		0 0 0 rgb(255, 0, 0),
		0 0 0 rgb(0, 255, 0),
		0 0 0 rgb(0, 0, 255);
}

.bar .links .hidden-link {
	opacity: 0;
	cursor: pointer;
}

.bar .links .visible-link {
	opacity: 1;
}

.bar .links a:hover {
	text-shadow:
		0.3px -0.1px 0.1px rgb(255, 0, 0),
		0.2px 0.1px 0 rgb(0, 255, 0),
		-0.1px 0.2px 0 rgb(0, 0, 255);
	transition: 0.2s cubic-bezier(0.5, 200, 0.5, -200);
}

/* Click Window */

.click-window {
	width: 40%;
	height: 94.5vh;
	padding-top: 25px;
	background-image: url('./imgs/background.jpg');
}

.click-window .stat-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	width: 100%;
	background-color: rgb(36, 36, 36, 0.5);

	padding: 10px 0;
}

.click-window .stat-panel h1,
p {
	color: white;
}

.click-window .button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.click-window .button button {
	width: 50%;
	height: auto;
	padding: 20px;

	border: none;
	background-color: inherit;
}

.click-window .button button img {
	width: 90%;
	height: 250px;

	transition: 0.3s cubic-bezier(.48, 1.5, .9, 1.3);
}

.click-window .button button img:hover {
	width: 95%;
	height: 251px;
}

/* Right Panel */

.right-panel {
	width: 60%;
}

.right-panel .upgrades {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	padding: 10px 0;
}

.right-panel .upgrades .upgrade {
	width: 90%;
	max-height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;

	position: relative;

	background-color: #242424;
	border-radius: 5px;
}

.right-panel .upgrades .upgrade:hover {
	background-color: #363636;
}

.right-panel .upgrades .upgrade img {
	max-height: 100px;
	max-width: 100px;
}

.right-panel .upgrades .upgrade .upgrade-info h2,
p {
	margin-right: 100px;
	color: white;
}

.right-panel .upgrades .upgrade button {
	position: absolute;
	right: 15px;

	background-color: yellowgreen;
	padding: 10px 5px;
	border: 3px solid rgb(90, 90, 90);
	border-radius: 5px;
}

.right-panel .upgrades .upgrade button:hover {
	background-color: rgb(178, 235, 65);
	border: 3px solid rgb(105, 105, 105);
}

.right-panel .upgrades .upgrade .disabled {
	background-color: rgb(154, 177, 106);
}

.right-panel .upgrades .upgrade .disabled:hover {
	background-color: rgb(154, 177, 106);
	border: 3px solid rgb(90, 90, 90);
}